.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: Crelist;
  src: url('/public/fonts/Crelist.ttf');
}
@font-face {
  font-family: Poppin;
  src: url('/public/fonts/Poppins.ttf');
}
@font-face {
  font-family: AGaramondPro;
  src: url('/public/fonts/AGaramondPro.otf');
}
@font-face {
  font-family: Futura;
  src: url('/public/fonts/Futura.ttf');
}
@font-face {
  font-family: FuturaCyrillicLight;
  src: url('/public/fonts/FuturaCyrillicLight.ttf');
}
@font-face {
  font-family: FuturaCyrillicBold;
  src: url('/public/fonts/FuturaCyrillicBold.ttf');
}


